@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Đơn hàng của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất</h2>
<a style="color:blue" href="@Url.Action("Index","MayLanh")">Trang chủ</a>
