@model IEnumerable<QLMayLanh.Models.ThuongHieu>
<br />

<div class="row" style="text-align:center;background-color:silver">

@foreach (var item in Model)
{

       <div class="col-4" >
            <div class="thumbnail">
                <a href="@Url.Action("SPTheoThuongHieu","MayLanh",new {id=item.MaTH})">
                    <img  src="~/Assets/images/@item.HinhAnh" width="129px" height="49px"/>
                </a>
                
            </div>
               <br />
        </div>

}
 </div>
