@model QLMayLanh.Models.ThuongHieu
@{
    ViewBag.Title = "DeleteTH";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>DeleteTH</h2>
<style type="text/css">
    #btnXoa a {
        clear:both;
        background-color:red;
        color:white;
        width:120px;
        height:35px;
        display:block;
        float:right;
        text-align:center;
        padding-top:10px;
        text-decoration:none;
        font-weight:bold;
    }
        #btnXoa a :hover {
            background-color:gray;
            color:red;
        }
</style>
<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
<h3>Bạn chắc chắn xóa thương hiệu này?</h3>
<div>
    <div style="width:40%;float:left;border-left:dotted 1px;border-color:azure">
        <img src="~/Assets/images/@Model.HinhAnh" width="100%" />
    </div>
    <div style="width:60%;float:left">
        
        <h4 style="text-align:left; color:#808080; font-weight:bold">Thương hiệu: <span style="color:black;font-size:20pt;font-family:'Times New Roman';font-weight:100">@Html.DisplayFor(model=>model.TenTH)</span></h4>
       </div>
   
    </div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
         <div id="btnXoa">
            <input type="submit" value="Xóa" />
            @Html.ActionLink("Trở về", "ThuongHieu")
       </div>
    }
</div>